/*tyle.css*/
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  margin: 0;
  padding: 40px;
}

/* main container */
.container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 600px;
  margin: auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Headings */
h2, h3 {
  text-align: center;
  color: #333;
}

/* Input fields */
input, select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Buttons */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background: #f5cce3;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #7ad51e;
}

/* Download button states */
#downloadBtn {
  background: gray;
  cursor: not-allowed;
}

#downloadBtn.active {
  background: #28a745;
  cursor: pointer;
}

/* progress text*/
#progress {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}

/* States table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
}

table th {
  background: #d9ff00;
  color: white;
  padding: 10px;
}

table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

table tr:nth-child(even) {
  background: #f2f2f2;
}

/*  Results page button groups*/
a button {
  margin-bottom: 10px;
}

/* Multi select style*/
select[multiple] {
  height: 120px;
}